.import {
  background: #0f172a;
  padding: 60px 20px;
  text-align: center;
}

.import h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.import p {
  color: #cbd5f5;
  margin-bottom: 30px;
}

#importForm {
  max-width: 400px;
  margin: auto;
  display: grid;
  gap: 15px;
}

#importForm select,
#importForm button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

#importForm select {
  background: #020617;
  color: white;
}

#importForm button {
  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
